.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

.content {
  width: fit-content;
  font-size: 1.6rem;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  font-size: 4.5rem;
  font-family: "Times New Roman", Times, serif;
  color: var(--secondary-color);
  font-weight: bold;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 100px;
  width: 100%;
  margin-top: 60px;
}

.title {
  margin-bottom: 50px;
  font-size: 3.6rem;
  font-weight: bold;
  color: var(--primary-color);
  border-bottom: 3px solid rgba(#ccc, 0.2);
}

.project {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-section {
  //position: absolute;
  width: 400px;
  height: 100%;

  .image-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    -webkit-user-select: none;

    .laptop {
      width: 100%;
      z-index: 2;
    }

    .screenshot {
      position: absolute;
      max-width: 300px;
      height: 210px;
      pointer-events: none;
    }
  }
}

.description {
  font-size: 1.5rem;
  width: 60%;
  min-height: 60px;
  height: 100%;
  display: flex;
  align-items: center;
  line-height: 2.2rem;
  text-align: center;
  word-wrap: break-word;
}

.used-tech {
  height: 100%;
  color: #00ffdd;
  margin: 32px 0;
  width: 70%;
  text-align: center;

  span {
    color: var(--secondary-color);
    margin-right: 6px;
  }
}

.link-btn {
  background-color: transparent;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-color);
  }

  &:active {
    background-color: #ccc;
  }

  span {
    padding: 4px;
    font-size: 1.8rem;
  }
}
