* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #00ffdd;
  --secondary-color: #ff00c8;
}

button {
  cursor: pointer;
  background-color: transparent;

  &:hover {
    background-color: #46c2cb;
  }

  &:active {
    background-color: #111111;
  }
}

html {
  font-size: 62.5%;
}
