* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #00ffdd;
  --secondary-color: #ff00c8;
  --nav-bar-top-position: 0;
}

button {
  cursor: pointer;
  background-color: transparent;

  &:hover {
    background-color: #46c2cb;
  }

  &:active {
    background-color: #111111;
  }
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #6e85b2;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white !important;
}
