.wrapper {
  width: 100%;
  max-width: 944px;
  min-height: 400px;
  background-color: #434242;
  margin-top: 300px;
  margin-bottom: 50px;
}

.header {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.title {
  display: flex;
  flex-direction: column;
  width: 400px;
  color: var(--secondary-color);
  line-height: 3.2rem;
  font-size: 1.4rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.description {
  padding: 20px 40px;
  word-wrap: break-word;
  line-height: 2.2rem;
}

.hobby {
  color: var(--primary-color);
  font-size: 3.5rem;
  margin-top: 24px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.sticker {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paimon {
  width: 120px;
  height: 120px;
}

.cursor {
  animation: cursor-blink 1s steps(2) infinite;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.avatar-container {
  width: 300px;
  height: 300px;
}

.avatar {
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-radius: 50%;
  transform: scaleX(1);
}

.description {
  margin-top: 30px;
  font-size: 1.6rem;
  color: white;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 80%;
  }

  .header {
    flex-direction: column;
    align-items: center;
  }

  .title {
    padding: 0 20px;
    text-align: center;
    margin-top: 30px;
  }
}

@media screen and (max-width: 480px) {
}
