.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://wallpaperaccess.com/full/1567665.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
