.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./../../assets/images/portfolio-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.logos {
  width: 20px;
  height: 20px;
  margin: 0 6px;
}

.react-logo {
  color: #61dafb;
}

.heart-logo {
  color: red;
}
.footer {
  display: flex;
  align-items: center;

  width: 100%;

  .description {
    width: 100%;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    font-size: 1.3rem;
    color: white;
  }
}
