.wrapper {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid black;
  padding: 0 16px;
  background-color: #261c2c;
  border-color: #6e85b2;
  position: fixed;
  top: var(--nav-bar-top-position);
  z-index: 9999;
  transition: 0.3s;

  &::after {
    content: "";
    height: 50px;
  }
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6e85b2;
}

.left-section {
  display: flex;
  min-width: 400px;
  position: relative;

  .navbar-btn {
    margin-right: 16px;
    font-size: 2rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
  }

  .language-section {
    position: absolute;
    width: 70px;
    right: 0;
  }

  .language-btn {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #192455;
    border: none;
    color: #6e85b2;
  }

  .lang-list {
    display: none;
    width: 100%;
    font-size: 1.6rem;
    background-color: #192455;
    width: 100%;

    h4 {
      cursor: pointer;
      border-top: 1px solid black;
      padding: 6px;

      &:hover {
        background-color: #373d55;
      }
    }
  }

  .active {
    display: block;
  }
}

.social-media {
  display: flex;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }

  .container:not(:last-child) {
    margin-right: 24px;
  }

  .title {
    font-size: 1.6rem;
    width: 24px;
    height: 24px;
  }
}

.brand-icon {
  width: 100%;
  height: 100%;
}
